@model Poll.ViewModels.PollFormView
@{
    ViewData["Title"] = "Poll";
}

<form id="poll-form">
    @foreach (var question in Model.Questions) {
        <div class="form-group">
            <partial name="QuestionTemplates/@question.GetTemplateName()" model="@question" />
        </div>
    }
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Send" id="submit" />
    </div>
</form>